table {

}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center; /* Centers the text within each cell */
}
.box {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-right: 10px; /* Add right margin for spacing between divs */
    margin-bottom: 10px; /* Add bottom margin for spacing between rows */
    box-sizing: border-box; /* Include padding and border in the specified width and height */
}
