@page "/"
<PageTitle>Kalkulator żywienia kota</PageTitle>
<head>
    <link href="KalulatorKota.styles.css" rel="stylesheet" />
</head>
<div>
    <h1>Kalkulator żywienia kota</h1>
    <div>
        <label>Masa ciała kota (kg)</label>
        <input inputmode="numeric" />
    </div>
</div>

<div class="box">
    <table>
        <tbody>
            <tr>
                <td>Zapotrzebowanie na energię:</td>
                <td>kcal/dzień</td>
            </tr>
            <tr>
                <td>
                    <Select @bind-SelectedValue="@selectedValue">
    <SelectItem Value="1">-- Wybierz jedną opcję --</SelectItem>
    <SelectItem Value="2">Mało ruchliwy/z nadwagą</SelectItem>
    <SelectItem Value="3">Niewychodzący/sterylizowany</SelectItem>
    <SelectItem Value="4">Aktywny lub łysy</SelectItem>
</Select>
                </td>
                <td>@kcalPerDay</td>
            </tr>
        </tbody>
    </table>
    <p>Selected item @selectedValue</p>
</div>

<div class="box">
    <table>
        <tbody>
            <tr>
                <td colspan="2">Dzienna porcja karmy (w gramach)</td>
            </tr>
            <tr>
                <td>MOKRA</td>
                <td><input inputmode="numeric" /></td>
            </tr>
            <tr>
                <td>SUCHA</td>
                <td><input inputmode="numeric" /></td>
            </tr>
            <tr>
                <td>RAZEM</td>
                <td>Placeholder</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="box">
    <table>
        <tbody>
            <tr>
                <td colspan="4">Makroskładniki w porcji (g/dzień</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>mokrej karmy</td>
                <td>suchej karmy</td>
                <td>razem</td>
            </tr>
            <tr>
                <td>Białko </td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Tłuszcz</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Węglowodany</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
        </tbody>
    </table>
</div>







<div class="karma">
    <h1>Karma sucha</h1>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Dane z etykiety</td>
                    <td>W produkcie (%)</td>
                    <td>Sucha masa (%)</td>
                </tr>
                <tr>
                    <td>Białko ogólne</td>
                    <td><input inputmode="numeric" /></td>
                    <td>Placeholder</td>
                </tr>
                <tr>
                    <td>Tłuszcz surowy</td>
                    <td><input inputmode="numeric" /></td>
                    <td>Placeholder</td>
                </tr>
                <tr>
                    <td>Popiół surowy</td>
                    <td><input inputmode="numeric" /></td>
                    <td>Placeholder</td>
                </tr>
                <tr>
                    <td>Włókno surowe</td>
                    <td><input inputmode="numeric" /></td>
                    <td>Placeholder</td>
                </tr>
                <tr>
                    <td>Wilgotność</td>
                    <td><input inputmode="numeric" /></td>
                    <td>Placeholder</td>
                </tr>
                <tr>
                    <td>Węglowodany</td>
                    <td>Placeholder</td>
                    <td>Placeholder</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table>
            <tbody>
                <tr>
                    <td colspan="2">Gęstość energetyczna karmy (EM/kcal/100g)</td>
                </tr>
                <tr>
                    <td>Wg zmod. wsp. Atwatera</td>
                    <td>Placeholder</td>
                </tr>
                <tr>
                    <td>Wg NRC (2006)</td>
                    <td>Placeholder</td>
                </tr>
            </tbody>
        </table>
    </div>





    <div>
        <table>
            <tbody>
                <tr>
                    <td>Makroskładnik</td>
                    <td>g/100 kcal</td>
                    <td>Poziom w karmie</td>
                </tr>
                <tr>
                    <td>Białko</td>
                    <td>Placeholder</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <td>Tłuszcz</td>
                    <td>Placeholder</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Węglowodany</td>
                    <td>Placeholder</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>




<div class="karma">
    <h1>Karma mokra</h1>
</div>



@code {
    private double bialkoOgolne_Mokra;
    private double tluszczSurowy_Mokra;
    private double popilSurowy_Mokra;
    private double wloknoSurowe_Mokra;
    private double wilgotność_Mokra;

    private double bialkoOgolne_Sucha;
    private double tluszczSurowy_Sucha;
    private double popilSurowy_Sucha;
    private double wloknoSurowe_Sucha;
    private double wilgotność_Sucha;

    int selectedValue;


    double kcalPerDay = 0;

}
